html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #222222;
  color: #dddddd;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score, .lives, .highscore {
  margin-left: 10px;
  margin-right: 10px;
}